* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 2rem;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: border-color 1.5s ease, background-color 1.5s ease;
}

.btn:hover {
  border-color: #ada074;
  background-color: #ada074;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://www.thomsoon.com/landing/img/background/start-page.jpg)
    no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: -10;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.35;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: -9;
}

header {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header img {
  margin-bottom: 4rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 8px;
  margin-bottom: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 3px;
}

hr {
  background-color: #fff;
  width: 106px;
  height: 1px;
  border: 0;
  margin-bottom: 2.5rem;
}

p {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 6rem;
  line-height: 1.8;
}

header .arrow-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  animation: arrowdown 1s ease-out infinite;
}

@keyframes arrowdown {
  0% {
    bottom: 4rem;
    opacity: 0;
  }
  100% {
    bottom: 2rem;
    opacity: 1;
  }
}

.navbar {
  border-bottom: 1px solid #dfdfdf;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.navbar .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

nav .title {
  font-size: 1.7rem;
  font-weight: 600;
}

nav .nav-links {
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-links a {
  color: #000;
  transition: color 0.5s ease;
}

nav .nav-links a:hover {
  color: #ada074;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  min-height: 90vh;
}

.about-container p {
  color: #a4a4a4;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
}

.about-title hr,
.contact-title hr {
  background-color: #000;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}

.about-circle-1,
.about-circle-2,
.about-circle-3 {
  border: 2px solid #dfdfdf;
  border-radius: 100px;
  height: 120px;
  width: 120px;
  margin: auto;
  margin-bottom: 4rem;
  transition: border-color 0.3s ease-in-out;
}

.about-circle-1:hover,
.about-circle-2:hover,
.about-circle-3:hover {
  border-color: #ada074;
}

.about-circle-1 {
  background: url(http://www.thomsoon.com/landing/img/icons/responsive.png)
    no-repeat center center;
}

.about-circle-2 {
  background: url(http://www.thomsoon.com/landing/img/icons/minimalist.png)
    no-repeat center center;
}

.about-circle-3 {
  background: url(http://www.thomsoon.com/landing/img/icons/free.png) no-repeat
    center center;
}

.about-grid-item h2 {
  margin-bottom: 3rem;
}

.portfolio-title hr {
  background: #000;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 6rem 0;
}

.portfolio {
  background: #f3f3f3;
}

.portfolio-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.portfolio-grid-item {
  position: relative;
}

.portfolio-grid-item .portfolio-grid-overlay {
  background: #ada07400;
  transition: background 0.7s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.portfolio-grid-item:hover .portfolio-grid-overlay {
  background: #ada07493;
}

.port-1,
.port-2,
.port-3 {
  grid-row: 1 / 3;
}

.port-4 {
  grid-row: 3 / 5;
}

.port-5 {
  grid-row: 3 / 4;
}

.port-6 {
  grid-row: 3 / 5;
}

.port-7 {
  grid-row: 4 / 6;
}

.port-8 {
  grid-row: 5 / 7;
}

.port-9 {
  grid-row: 5 / 7;
}

.port-10 {
  grid-row: 6 / 8;
}

.port-11 {
  grid-row: 7 / 10;
}

.portfolio-container .btn {
  color: #000;
  border-color: #000;
  margin-top: 5rem;
  transition: border-color 1.5s ease, background-color 1.5s ease,
    color 1.5s ease;
}
.portfolio-container .btn:hover {
  border-color: #ada074;
  background-color: #ada074;
  color: #fff;
}

.partners {
  height: 50vh;
  position: relative;
}

.partners-img {
  background: url(http://www.thomsoon.com/landing/img/background/partners.jpg)
    no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-attachment: fixed;
}

.partners-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c292485;
}

.partners-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners-container h3 {
  color: #fff;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.partner-logos a {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.partner-logos a:hover {
  opacity: 1;
}

.footer-container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.contact-form .textarea {
  grid-column: 1 / 3;
}

.contact-form input,
.contact-form textarea {
  background: #f8f7f7;
  border: none;
  border-top: 1px solid #333;
  padding: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.contact-form input {
  height: 40px;
}

.contact-form button {
  grid-column: 2 / 3;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  width: 50px;
  justify-self: end;
}

.contact-form div {
  display: flex;
  flex-direction: column;
}

.contact-form div label {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.contact-info p {
  margin: 2rem;
  font-size: 0.9rem;
}

.contact-info span {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }

  .navbar .container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 700px) {
  .navbar {
    background: #ada074;
    height: 80px;
    position: inherit;
  }

  .navbar .container {
    height: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    color: #fff;
  }

  .navbar .nav-links {
    display: none;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-grid-container {
    display: flex;
    flex-direction: column;
  }

  .partner-logos a img {
    max-width: 100px;
  }

  .contact-form-container {
    grid-template-columns: 1fr;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    max-width: 400px;
    text-align: center;
  }
}
